<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="ChartView.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
    </startup>
    <userSettings>
        <ChartView.Properties.Settings>
            <setting name="DzhFolder" serializeAs="String">
                <value>D:\dzh2</value>
            </setting>
            <setting name="PrpDataFile" serializeAs="String">
                <value>D:\temp\MinData\20120706.PRP</value>
            </setting>
        </ChartView.Properties.Settings>
    </userSettings>
</configuration>
